.display_single_messageParent {
    display: flex;
    overflow: auto;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name {
    margin: 2px;
}

.displayMessageItem {
    margin: 10px;
}

.nameDiv {
    display: flex;
    width: 115px;
    flex-wrap: wrap;
}